# Python stuff
env/
__pycache__/
*.pyc

# Stockfish
stockfish/

# Data
*.pgn
*.log

# Redis
*.rdb

# --- ADD THIS LINE ---
# Node / Frontend
node_modules/
# ---------------------

# OS / Editor
.DS_Store
.vscode/
.idea/